.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;

}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}


// .container {
//     height: 1000px;
//     padding: 10px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;

//     flex-wrap: wrap;
//     align-content: center;
// }

// .items {
//     background-color: green;
//     padding: 30px;
//     margin: 30px;
//     color: #fff;
//     font-size: 40px;

//     // flex-grow: 1; // it will occupy all the space that they can
// }

// .i2 {
//     height: 200px;
//     // flex-shrink: 1; // ginagamit to pag ayaw mong mag bago yung width pag dinicrease yung screen size 
//     //kapag naka set sa 1 if na decrease yung screen size mag ddecrease din yung width nya
//     // flex-basis: 300px; // katulad ng pag set ng width sa flex items

//     flex: 0 0 300px; // flex-grow, flex-shrink, flex-basis
// }



// .i3 {
//     order: 1;
//     flex: 1;
// }

// .i4 {
//     // align-self: flex-end;
//     order: -1;
// }